// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


//  CSS code

header {
    padding-top: 9.5rem;
    padding-bottom: 6rem;
}

// Search-btn

$search_color:#FF8809;

.btn-search {
    @include button-variant($search_color, darken($search_color, 7.5%), darken($search_color, 10%), lighten($search_color,5%), lighten($search_color, 10%), darken($search_color,30%));
}

.btn-search-outline {
    border-color: $search_color;
    color: $search_color;
}
  
.btn-search-outline:hover {
    background-color: $search_color;
    color: white;
}

.bg-orange{
    background-color: $search_color;
}

.text-orange{
    color: $search_color;
}

//https://stackoverflow.com/questions/32355009/changing-pagination-colour-bootstrap

.pagination > li > a
{
    background-color: white;
    color: $search_color;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: $search_color;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: $search_color !Important;
    border: solid 1px $search_color !Important;
}

.pagination > .active > a:hover
{
    background-color: $search_color !Important;
    border: solid 1px $search_color;
}
